<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.readingyouself">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChapterActivity" />

        <service
            android:name=".readingDataSupport.DataGiveService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ChapterBodyActivity" />
        <activity android:name=".readingDataSupport.ListInCategoryActivity" />
        <activity android:name=".commentActivity.ComprehensiveCommentActivity" />
        <activity android:name=".commentActivity.CommentActivityThreeMenu" />
        <activity android:name=".commentActivity.ComprehensiveCommentDetailActivity" />
        <activity android:name=".commentActivity.BookCommentActivity" />
        <activity android:name=".commentActivity.BookCommentDetailActivity" />
        <activity android:name=".commentActivity.RecommendBookActivity" />
        <activity android:name=".commentActivity.OriginalCommentActivity" />
        <activity android:name=".findActivity.CategoryActivity" />
        <activity android:name=".findActivity.RankingActivity" />
        <activity android:name=".findActivity.RankListActivity" />
        <activity android:name=".findActivity.CategoryListActivity" />
        <activity android:name=".readActivity.ReadingViewActivity" />
        <activity android:name=".readActivity.BookIntroductionActivity" />
        <activity android:name=".commentActivity.RecommendBookDetailActivity" />
        <activity android:name=".searchActivity.SearchActivity"></activity>
    </application>

</manifest>